
*{
    font-family: montserrat;
    margin: 0;}
/* Menu principal */
.menu{
    background-color: #003E2B;
    letter-spacing: 3px;

    box-sizing: border-box;
    height: 70px;
    text-align: center;
    padding: 20px;
}

.home{
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    font-variant: small-caps;
}

.linha{
    margin: auto;
    width: 50px;
    margin-top: 5px;
    border-top: 3px solid #FFFFFF;}

/* Banner titulo */
.banner_titulo{
    background-image: url(/Imagens/Banner_titulo.png);
    background-size:cover;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
}

.banner_titulo h1{
    padding-block: 135px;}

/* Conteúdo principal */

.principal{
    margin: 30px 50px;   }

/* Acesso rapído */

.container{
    padding: 30px;
    border-radius: 10px;
    background-color: #A4E2C1;
    margin-bottom: 30px;
}

.infos{
    margin-bottom: 30px;
    height: 120px;
    box-sizing: border-box;
}

.infos span a{
    background-color: grey;
    display: inline-block;
    width: 300px;
    height: 100px;
}

.infos span a p{
    margin-block:50px ;
    visibility: hidden;
}

.infos span .texto{
    display: inline-block;
    margin-left: 20px;
    color: #003E2B;
}

.infos span h1{
    font-variant: small-caps;}
.infos span p{
    font-weight: 500;}

/* O que é o campo harmonico */
.apresentacao{
    background-color: #A4E2C1;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.apresentacao h1{
    font-variant: small-caps;
    margin-bottom: 5px;
    color: #003E2B;
}

.apresentacao div{
    border: 3px solid #003E2B;
    width: 85px;
    margin-bottom: 15px;
}

.apresentacao span p{
    color: #003E2B;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom:30px;
    margin-right: 20%;
}

.apresentacao span a{
    display: block;
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
    font-size: 20px;
    color: #003E2B;
    font-weight: 600;
    letter-spacing: 5px;
    font-variant: small-caps;
    text-decoration: none;
    padding-block: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 3px 2px  #00422e59;
    transition: 0.5s;
}

.apresentacao span a:hover{
    background-color: #003E2B;
    color: #FFFFFF;
    text-shadow: 0 0 10px #ffffff;
}

/* Acesso rápido */
.acessoRapido{
    background-color: #A4E2C1;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: #003E2B;
}

.acessoRapido h1{

    margin-bottom: 15px;
}

.botoes a{
    display: inline-block;
    background-color: #ffffff;
    color: #003E2B;
    text-decoration: none;
    font-variant: small-caps;
    font-weight:bolder;
    box-shadow: 0px 3px 5px #003e2b7a;

    border-radius: 10px;
    width: 40%;
    margin: 15px auto 0;
    padding: 10px;
    font-size: 110%;

    transition: 0.5s;
}

.botoes a:hover{
    transform:scale(1.1,1.1); 
    background-color: #003E2B;
    color: #FFFFFF;
    text-shadow: 0 0 10px #ffffff94;
}

/* Footer */
footer{
    box-sizing: border-box;
    background-color: #003E2B;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    height: 100px;
    font-variant: small-caps;
    padding-top: 40px;
    font-size: 20px;
}