*{
    font-family: montserrat;
    margin: 0;
}

body{    
    color: #003E2B;
}

/* Menu principal */

.menu{
    background-color: #003E2B;
    text-align: center;
}

.home{
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    font-variant: small-caps;
    text-align: center;
    background-color: #003E2B;
    height: 70px;
    letter-spacing: 3px;
}

.linha{
    margin: auto;
    width: 50px;
    margin-top: 5px;
    border-top: 3px solid #FFFFFF;
}

/* subtitulo */

.subtitulo{
    text-align: center;
    padding: 8px;
    color: #FFF;
    font-size: 20px;
    display: block;
    background-color: #39A46B;
}

.tabela{
    background-color: #A4E2C1;
    padding: 40px;
    border-radius: 10px;
    margin: 50px;
    text-align: left;
}
.tabela p{
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 120%;   
    border-radius: 7px;
    color: #003E2B;
    background-color: #FFF;
    box-sizing: border-box;
    width: 6%;
    padding-block: 2%;
    box-shadow: 0px 5px 3px #003e2b5b;
}

.tabela .titulo{
    box-shadow: none;
    background-color: transparent;
    width: 30%;
    font-size: 120%;
}

.re .tons p,.fa .tons p,.la .tons p{
    background-color: #003E2B;
    color: #FFF;
}

.tons p{
    margin: 0 10px 0 0 ;
    font-size: 100% ;
}

.do .tons p:hover,.mi .tons p:hover,.sol .tons p:hover,.si .tons p:hover{
    background-color: rgb(226, 226, 226);
    color: #003E2B;
}

.tons p:active{
    transform: scale(1.1,1.1);
}

.re .tons p:hover,.fa .tons p:hover,.la .tons p:hover{
    background-color: #002016;
    color: #FFF;
}